<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include head partial for meta tags, styles, etc. -->
    <%- include('./partials/head') %>
</head>
<body>
    <!-- Include navigation partial for navbar or header -->
    <%- include('./partials/nav') %>

    <!-- Main content section -->
    <%= JSON.stringify(user) %>

    <!-- Include scripts partial for JavaScript files -->
    <%- include('./partials/scripts') %>
</body>
</html>
